
<div class="table" id="requests-box">
	<nav>
		<ul class="nav nav-tabs"> 
			<li class="nav-item">
				<a id="reserve-select" class="nav-link active">Reservations</a>
			</li>
			<li class="nav-item">
				<a id="own-select" class="nav-link">Owned Lockers</a>
			</li>
		</ul>
	</nav>

	<div class="reserve-locker-section">
		<div class="locker-reserve-manager">
			<h3 id="reserve-label">Manage Reservations (6)</h3>

			<select id="reserve-location-select" name="Select a location">
				<option name="currentSelectedLocation" value="all">All</option>
				{{#each locations}}
					<option name="currentSelectedLocation" value="{{this.locationName}}">{{this.locationName}}
					</option>
				{{/each}}
			</select>

			<form method="post" action="own-request-results" "option-buttons">
				<table class="table" id="lockers-reserve-table">
					<thead>
						<tr>
							<th>
							</th>
							<td>ID Number
							</td>
							<td>Reserved Locker Number
							</td>
							<td>Reserved Locker Location
							</td>

						</tr>
					</thead>
				</table>


				<input id="accept" type="submit" class="btn btn-primary btn-lg" name="request" value="Accept Request(s)">
				<input id="reject" type="submit" class="btn btn-secondary btn-lg" name="request" value="Reject Request(s)">
			</form>
		</div>
	</div>


	<div class="owned-locker-section">	
		<div class="locker-own-manager">
			<h3 id="own-label">View Owned Lockers (5)</h3>

			<select id="reserve-location-select" name="Select a location">
				<option name="currentSelectedLocation" value="all">All</option>
				{{#each locations}}
					<option name="currentSelectedLocation" value="{{this.locationName}}">{{this.locationName}}
					</option>
				{{/each}}
			</select>

			<table class="table" id="lockers-reserve-table">
				<thead>
					<tr>
						<td>ID Number
						</td>
						<td>Reserved Locker Number
						</td>
						<td>Reserved Locker Location
						</td>
					</tr>
				</thead>
			</table>

		</div>

		<div class="locker-abandon-manager">
			<h3 id="abandon-label">Manage Abandon Requests (1)</h3>

			<select class="dropdown" id="reserve-location-select" name="Select a location">
				<option name="currentSelectedLocation" value="all">All</option>
				{{#each locations}}
					<option name="currentSelectedLocation" value="{{this.locationName}}">{{this.locationName}}
					</option>
				{{/each}}
			</select>

			<form method="post" action="abandon-accept-results" id="option-buttons">
				<table class="table" id="lockers-reserve-table">
					<thead>
						<tr>
							<th>
							</th>
							<td>ID Number
							</td>
							<td>Reserved Locker Number
							</td>
							<td>Reserved Locker Location
							</td>
						</tr>
					</thead>
				</table>


				<input id="accept" type="submit" class="btn btn-primary btn-lg" name="request" value="Accept Request(s)">
				<input id="reject" type="submit" class="btn btn-secondary btn-lg" name="request" value="Reject Request(s)">
			</form>

		</div>



	</div>
</div>
