<html>
    <head>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
        </script>
		
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css>
		
		<script src="main.js"></script>
		
		<script src="js/script.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/mp1.css">
		
        
        <script>
            $(document).ready(function(){
                $("p").hide()
				
                $("#abandon").click(function(){
                   var abandonLocker = new AbandonedLocker("110", "St. La Salle Hal", "10239", "11739937");
                    abandonLockerRequests.push(abandonLocker);
                    
                    $("p").show()
                    
                })
            })
        </script>
    </head>
    
    <body>
        <div class="main-menu">
			<div class="logo">
				<img src="photo/Logo.PNG">
			</div>

			<a href="home.html">Home</a>
			<div class="locker-menu">
				<button class="locker-menu-button">Locker</button>
				<div id="locker-menu-contents">
					<a href="current-locker">View current locker</a>
					<a href="view-lockers">View lockers and reserve a locker</a>
				</div>
			</div>

			<span id="space"></span>
			<div class="user-menu">
				<button class="user-menu-button">{{idNo}}</button>
				<div id="user-menu-contents">
					<a onclick="goToProfile();">Profile</a>
					<a href="logout">Log Out</a>

					<form id="profile-hidden" action="profile" method="post">
						<input type="hidden" value="{{idNo}}" id="id-no" name="idNo">
						<input type="hidden" value="{{password}}" id="password" name="password">
					</form>
				</div>
			</div>
		</div>
	
        <div id="current-locker-info">
			<div class="card" style="height: 25rem; width: 23rem;">
				<h5 class="card-header">Current locker address</h5>
				<div class="card-body">
					<h1 class="card-title">{{currentLocker.Locker.lockerNo}}</h1>
					<span class="card-subtitle mb-3 text-muted">{{currentLocker.Locker.location}}</span>
				</div>
			</div>
			
			<div class="card" style="height: 25rem; width: 50rem;">
				<div class="row">
					<div class="col col-sm-3">
						<label><b>Ownership Span</b></label> 
						<label><b>Locker Status</b></label>
						<label><b>Locker Code</b></label> 
					</div>
					<div class="col col-sm-3">
						<span></span>
						<span>{{currentLocker.status}}</span>
						<span>{{currentLocker.Locker.lockCode}}</span>
					</div>
				</div>
				<div class="row-sm">
					<a id="abandon-button" href="#" class="btn btn-primary">Abandon</a>
				</div>
				
				
				
				
			</div>
			
			<!--<div class="card" style="height: 25rem; width: 23rem;">
				<div class="card-body">
					<h5 class="card-title">Current locker</h5>
					<div id="locker-address">
						<h6></h6>
						<p class="card-subtitle mb-3 text-muted"></p>
					</div><br>
				</div>
			</div>

			<div class="card" id="current-locker-more-info" style="height: 25rem; width: 50rem;">
				<div class="card-body">
					<div id="profile-locker">
						<label><b>Ownership Span</b></label> <p id="own-span"></p>
						<label><b>Locker Status</b></label> <p id="locker-code-current"></p>
						<label><b>Locker Code</b></label> <p id="locker-code-current"></p>
						<a id="abandon-button" href="#" class="btn btn-primary">Abandon</a>
					</div>
					
				</div>
			</div>--->
		</div>
		
    </body>
</html>