<input type="hidden" value="{{reserveExists}}" id="reserve-exists" name="reserveExists">
<input type="hidden" value="{{currentLocker.status}}" id="cur-locker-reserve-status" name="resStatus">

{{> locker_status_messages}}
<div id="current-locker-info">
	<div class="card text-center" id="locker-address" style="height: 22rem; width: 23rem;">
		<h5 class="card-header">Current locker address</h5>
		<div class="card-body">
			<h1 class="card-title">{{currentLocker.lockerNo}}</h1>
			<span class="card-subtitle mb-3 text-muted">{{lockerLocation}}</span>
		</div>
	</div>

	<div class="container" id="current-locker-details" style="height: 22rem; width: 50rem; background-color: white;">
		<div id="body">
			<div class="row">
				<div class="col-sm">
					<label><b>Ownership Span</b></label> 
				</div>
				<div id="date-range" class="col-8">
					<!--{{dateRange.[0]}} to {{dateRange.[1]}}-->
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<label><b>Locker Status</b></label> 
				</div>
				<div class="col-8">
					{{currentLocker.status}}
					
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<label><b>Locker Code</b></label> 
				</div>
				<div class="col-8">
					{{currentLocker.lockCode}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<form id="current-locker-status-form" action="view-lockers" method="get">
						<input type="hidden" name="lockerId" value="{{currentLocker._id}}">
						<input type="submit" class="btn btn-primary btn-lg btn-block h-50" value="Find and Reserve a locker"> 
					</form>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="no-locker">
	<div class="card" style="height: 22rem; width: 60rem;">
		<h5 class="card-header">Current locker address</h5>
		<div class="card-body">
			<span>You neither reserved or currently own a locker. You may pick a desired location and reserve a locker by exploring the lockers page through either pickeing Lockers > View lockers and reserve a locker or clicking the button below:</span>
			<form action="view-lockers" method="get">
				<input type="submit" class="btn btn-primary btn-lg btn-block" value="Find and Reserve a locker"> 
			</form>
		</div>
	</div>
</div>