

<input type="hidden" name="lockerOwned" value="{{reserved}}">
<input type="hidden" name="profileLockerStatus" value="{{locker.status}}">

<div class="edit-profile-box">
	<div id="image-locker">
		<div class="card text-center" id="locker-info" style="width: 23rem;">
			<h5 class="card-header">Current locker</h5>
				<div class="card-body" id="locker">
					{{> locker_status_messages}}
					<div class="reminder-current-locker-info">
						<span class="card-subtitle mb-3 text">You current do not have a locker reserved nor owned</span>
						<form method="get" action="view-lockers">
							<input type="submit" class="btn btn-primary" value="Reserve">
						</form>
					</div>

					<div class="profile-current-locker-info">
						<div id="profile-locker-address">
							<h4 class="card-title">{{locker.lockerNo}}</h4>
							<p id="profile-locker-location" class="card-subtitle mb-3 text-muted">{{lockerLocation}}</p>
							<p id="profile-locker-status" class="card-subtitle mb-3 text-muted">{{locker.status}}</p>
						</div>
						<div id="locker-lock-code">
							<b>Locker Code</b> <span>{{locker.lockCode}}</span>
						</div>
						<form method="post" action="view-lockers">
							<input type="hidden" name="lockerId" value="{{locker._id}}">
							<input type="hidden" name="pageCur" value="profile">
							<input type="submit" class="btn btn-primary" value="Reserve">
						</form>
					</div>

				</div>
		</div>
	</div>

	
	<div class="edit-profile-info-box">
		<div class="info-section">
			<h1>Edit Profile for {{idNo}}</h1>
			{{> profile_messages}}
			<div id="edit-personal-info">
				<form id="edit" action="confirm-edit-profile" method="post">
					<div class="form-group row">
						<label for="real-name-change" class="col-sm-5 col-form-label"><b>Full Name</b></label> 
						<div class="col-sm-5">
							<input class="form-control" type="text" id="real-name-change" name="realName" value="{{user.realName}}">
						</div>
					</div>

					<div class="form-group row">
						<label for="degree-change" class="col-sm-5 col-form-label"><b>Degree Program</b></label> 
						<div class="col-sm-5">
							<input class="form-control" type="text" id="degree-change" name="degree" value="{{user.degree}}">
						</div>
					</div>

					<div class="form-group row">
						<label for="email-change" class="col-sm-5 col-form-label"><b>E-mail Address</b></label> 
						<div class="col-sm-5">
							<input class="form-control" type="text" id="email-change" name="email" value="{{user.email}}">
						</div>
					</div>

					<div class="form-group row">
						<label for="mobile-change" class="col-sm-5 col-form-label"><b>Mobile Contact Number</b></label>
						<div class="col-sm-5">
							<input class="form-control" type="text" id="mobile-change" name="mobileNo" value="{{user.mobileNo}}">
						</div>
					</div>

					<div id="submit-edit-profile" class="form-group row">
						<input class="btn btn-primary w-100" type="submit" value="Confirm Edit">
					</div>
				</form>
			</div>
		</div>

	</div>

</div>