
<input type="hidden" name="lockerOwned" value="{{reserved}}">
<input type="hidden" name="profileLockerStatus" value="{{locker.status}}">

<div class="profile">
	<div class="page-box">
		<div class="profile-box">
			<div id="image-locker">
				<div class="card text-center" id="locker-info" style="width: 17rem;">
					<h5 class="card-header">Current locker</h5>
					<div class="card-body" id="locker">

						<div class="reminder-current-locker-info">
							<span class="card-subtitle mb-3 text">You current do not have a locker reserved nor owned</span>
							<form method="get" action="view-lockers">
								<input type="submit" class="btn btn-primary" value="Reserve">
							</form>
						</div>

						<div class="profile-current-locker-info">
							<div id="profile-locker-address">
								<h4 class="card-title">{{locker.lockerNo}}</h4>
								<p id="profile-locker-location" class="card-subtitle mb-3 text-muted">{{lockerLocation}}</p>
								<p id="profile-locker-status" class="card-subtitle mb-3 text-muted">{{locker.status}}</p>
							</div>
							<div id="locker-lock-code">
								<b>Locker Code</b> <span>{{locker.lockCode}}</span>
							</div>
							<form method="post" action="view-lockers">
								<input type="hidden" name="lockerId" value="{{locker._id}}">
								<input type="hidden" name="pageCur" value="profile">
								<input type="submit" class="btn btn-primary" value="Reserve">
							</form>
						</div>

					</div>
				</div>
			</div>

			<div class="info-section">
				<div id="name-edit">
					<h3>{{user.realName}}</h3> <a href="#" class="btn" onclick="editProfile();"><i class="fa fa-pencil fa-lg"></i></a>

					<form id="edit-profile-hidden" action="edit-profile" method="get">
						<input type="hidden" value="{{idNo}}" id="id-no" name="idNo">
						<input type="hidden" value="{{password}}" id="password" name="password">
					</form>
				</div>
				
				
				<div id="personal-info">
					<label><b>ID Number</b></label> <p id="id-number">{{user.idNo}}</p>
					<label><b>Degree Program</b></label> <p id="degree">{{user.degree}}</p>
					<label><b>E-mail Address</b></label> <p id="email">{{user.email}}</p>
					<label><b>Mobile Contact Number</b></label> <p id="mobile-no">{{user.mobileNo}}</p>
				</div>
			</div>

		</div>

	</div>

</div>