<html>
    <head>
		<title>Profile</title>
		
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript">
        </script>
		
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css>
		
		<script src="js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="css/mp1.css">
		
		<script>
			$(document).ready(function(){
				var statusForm = $(".profile-current-locker-info form[method='post']")
				var statusFormButton = $(".profile-current-locker-info form[method='post'] input[type='submit']")
				var profileLockerStatus = $("input[name='profileLockerStatus']")
				
				//console.log(profileLockerStatus.val())
				
				if($("input[name='lockerOwned']").val() == 'true'){
				   	$(".profile-current-locker-info").show();
					$(".reminder-current-locker-info").hide();
					
					if(profileLockerStatus.val() == 'reserved'){
					  	statusForm.attr("action", "cancel-reservation")
						statusFormButton.val("Cancel Reservation")
					}
					else if(profileLockerStatus.val() == 'owned'){
						statusForm.attr("action", "abandon-locker")
						statusFormButton.val("Abandon")
					}
					else if(profileLockerStatus.val() == 'abandoned'){
						statusForm.attr("action", "cancel-abandonment")
						statusFormButton.val("Cancel Abandoment")
					}
					/*else{
						statusForm.attr("action", "view-lockers")
						statusFormButton.val("Reserve A Locker")
					}*/
				}
				else{
					$(".reminder-current-locker-info").show();
				   	$(".profile-current-locker-info").hide();
				}
				
			})
			
			function goToProfile(){
				$("#profile-hidden").submit()
			}
			
			function editProfile(){
				$("#edit-profile-hidden").submit()
			}
        </script>
		
    </head>
    
    <body>
        <div class="main-menu">
			<div class="logo">
				<img src="photo/Logo.PNG">
			</div>

			<a href="home.html">Home</a>
			<div class="locker-menu">
				<button class="locker-menu-button">Locker</button>
				<div id="locker-menu-contents">
					<a href="current-locker">View current locker</a>
					<a href="view-lockers">View lockers and reserve a locker</a>
				</div>
			</div>

			<span id="space"></span>
			<div class="user-menu">
				<button class="user-menu-button">{{idNo}}</button>
				<div id="user-menu-contents">
					<a onclick="goToProfile();">Profile</a>
					<a href="logout">Log Out</a>

					<form id="profile-hidden" action="profile" method="post">
						<input type="hidden" value="{{idNo}}" id="id-no" name="idNo">
						<input type="hidden" value="{{password}}" id="password" name="password">
					</form>
				</div>
			</div>
		</div>
        
		<input type="hidden" name="lockerOwned" value="{{reserved}}">
		<input type="hidden" name="profileLockerStatus" value="{{locker.status}}">
		
        <div class="profile">
			<div class="page-box">
				<div class="profile-box">
					<div id="image-locker">
						<div class="card text-center" id="locker-info" style="width: 23rem;">
							<h5 class="card-header">Current locker</h5>
							<div class="card-body" id="locker">
								
								<div class="reminder-current-locker-info">
									<span class="card-subtitle mb-3 text">You current do not have a locker reserved nor owned</span>
									<form method="get" action="view-lockers">
										<input type="submit" class="btn btn-primary" value="Reserve">
									</form>
								</div>
								
								<div class="profile-current-locker-info">
									
									<div id="profile-locker-address">
										<h4 class="card-title">{{locker.Locker.lockerNo}}</h4>
										<p id="profile-locker-location" class="card-subtitle mb-3 text-muted">{{locker.Locker.location}}</p>
										<p id="profile-locker-status" class="card-subtitle mb-3 text-muted">{{locker.status}}</p>
									</div>
									<div id="locker-lock-code">
										<b>Locker Code</b> <span>{{locker.Locker.lockCode}}</span>
									</div>
									<form method="post" action="view-lockers">
										<input type="hidden" name="pageCur" value="profile">
										<input type="submit" class="btn btn-primary" value="Reserve">
									</form>
								</div>
								
							</div>
						</div>
					</div>
					
					<div class="info-section">
						<div id="name-edit">
							<h3>{{user.realName}}</h3> <a href="#" class="btn" onclick="editProfile();"><i class="fa fa-pencil fa-lg"></i></a>
							
							<form id="edit-profile-hidden" action="edit-profile" method="post">
								<input type="hidden" value="{{idNo}}" id="id-no" name="idNo">
								<input type="hidden" value="{{password}}" id="password" name="password">
							</form>
						</div>
						
						<div id="personal-info">
							<label><b>ID Number</b></label> <p id="id-number">{{user.idNo}}</p>
							<label><b>Degree Program</b></label> <p id="degree">{{user.degree}}</p>
							<label><b>E-mail Address</b></label> <p id="email">{{user.email}}</p>
							<label><b>Mobile Contact Number</b></label> <p id="mobile-no">{{user.mobileNo}}</p>
						</div>
					</div>
					
				</div>
				
			</div>
            
        </div>
        
    </body>
</html>