<div class="top">
	<div class="search">
		<form method="post" action="search">
			{{> search_messages}}
			<div class="form-group row">
				<div class="col-sm-75">
					<input type="text" class="form-control" name="searchResult" placeholder="Search locker or location">
				</div>
				<div class="dropdown show"> 
					<a class="btn btn-secondary" href="#" role="button" id="searchAdvanced" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-sort-down"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="searchAdvanced">
						<h5>Advanced Search</h5>
						<input type="text" class="form-control" name="searchResultLocker" placeholder="Search locker">
						<input type="text" class="form-control" name="searchResultLocation" placeholder="Search location">
						<button type="submit" class="btn btn-primary">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
				<div class="col-lg-append">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-search"></i>
					</button>
				</div>
				<div id="radio-criteria">
					<div class="custom-control custom-radio">
						<input type="radio" id="radio-search-lc" class="custom-control-input" name="criteria" value="location"><label for="radio-search-lc" class="custom-control-label">Location only</label>
					</div>
					<div class="custom-control custom-radio">
						<input type="radio" id="radio-search-lk" class="custom-control-input" name="criteria" value="lockerNo"> <label for="radio-search-lk" class="custom-control-label">Locker Number only</label>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div id="results-box" class="card" style="width: 80rem">
		<div class="card-header" id="results-info">
			<b>Search results for</b> <span id="search-result">{{result}}</span>
		</div>
		<table class="table-striped table-bordered" id="results-search">
			<thead>
				<tr>
					<th style="width: 25%">Locker Number</th>
					<th>Location</th>
					<th>Status</th>
				</tr>
			</thead>
			
			{{#each lockers}}
				<tr>
					<td id="search-locker-no">{{this.lockerNo}}</td>
					<td id="search-location">{{this.location}}</td>
					<td id="search-status" value="{{this.status}}"><a>{{this.status}}</a></td>
				</tr>
			{{/each}}
		</table>
	</div>
	
	
</div>